.ant-form-horizontal .editable-card .ant-form-item-control {
  flex: unset
}
.editable-table-row .ant-form-item-explain  {
  position: absolute;
  font-size: 12px;
}
.ant-table .ant-table-tbody .editable-table-row .ant-table-cell {
  padding-top: 14px;
  padding-bottom: 18px;
}
.editable-table-row .ant-form-item .ant-form-item {
  margin-bottom: 0;
}
.editable-table .ant-select.ant-select-in-form-item {
  width: unset;
}