.custom-rate-line .ant-rate-star:not(:last-child) {
  margin-right: 0px !important;
}
.custom-rate-danger .ant-rate-star-full svg path {
  fill: red
}

.custom-rate-warn .ant-rate-star-full svg path {
  fill: rgb(254, 209, 86)
}

.custom-rate-success .ant-rate-star-full svg path {
  fill: rgb(76, 175, 80)
}

.custom-rate .ant-rate-star-zero svg path {
  fill: #ccc
}
